div
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbarContainer, .filter
{
    gap: 10px;
}

.toolbarContainer
{
    justify-content: space-around;
    
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(195, 195, 195);
    margin-bottom: 20px;
}