@let isPurchasable = userService.user().data.points >= product().cost;
@let moneyNeed = product().cost - userService.user().data.points;

<div [className]="isPurchasable ? 'productCardContainer' : 'productCardContainer-noShop'" >

    <div class="productBuyInfo" >
        <img class="buyBlueIcon" src="assets/icons/buy-white.svg" alt="" sizes="42px">
        <div class="costInfo">
            <img src="assets/icons/coin.svg" alt="" width="42px" height="42px">
            <p>{{product().cost}}</p>
        </div>
        
        <button app-button (click)="reedem()"> Reedem now </button>
    </div>
    
    @if (!isPurchasable) 
    {
        <div class="noShop">
            <img src="assets/icons/coin.svg" alt="" width="42px" height="42px">
            <p>You need {{moneyNeed}}</p>
        </div>    
    }
    
    <div class="productCardInfo">
        <img class="buyBlueIcon" src="assets/icons/buy-blue.svg" alt="buy-icon">
        <img class="productImg"
            [src]="product().img.url"
            alt="{{product().name}}  image"
            width="252" height="182">

        <p class="productCategory">{{product().category}}</p>
        <strong>{{product().name}}</strong>
    </div>
    
</div>
