@let productReedem = history().data;
@let isLoading = history().isLoading;

<div>
    <app-category [category]="'History'"/>
    <div>
        @if (isLoading)
        {
            <p>Cargando...</p>
        }
        @else {
            @if (productReedem.length === 0) 
            {
                <p>No se han canjeado productos</p>
            }
            @else {
                <div class="productContainer">
                    @for (product of productReedem; track product._id) 
                    {
                        <app-product-reedem-card [product]="product"/>
                    }
                </div>
                
            }
        }
    </div>
</div>
