.taskListContainer
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px 10px 10px;
    min-width: 300px;
    width: max-content;
    height: 220px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra */
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}
  

::-webkit-scrollbar-thumb {
    background-color: rgb(108, 194, 98);
    border-radius: 4px;
}

