.taskCard
{
    display: flex;
    position: relative;

    height: min-content;
    width: min-content;

    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra */

    align-items: center;
    justify-content: space-between;


    transition: transform 0.3s ease;
}

.taskCard:hover
{
    transform: scale(1.04);
}

.taskDetailButton
{
    border: none;
    background-color: white;
    text-align: start;
    width: 300px;
    height: 40px;
}

.taskDetailButton:hover
{
    background-color: rgb(216, 246, 218);
    transition: ease 0.3s;
}

.taskCard-options
{
    position: absolute;
    right: 10px;
}

.popupUpdate, .popupDetail{
    z-index: 2;
}

.BTN_edit, .BTN_delete
{
    border: none;
    background-color: transparent;
    transition: 0.3s ease;
}

.BTN_edit:hover, .BTN_delete:hover
{
    transform: scale(1.2);
}