<div class="nav">
    <div class="linkBar">
        <img src="assets/aerolab-logo.svg" alt="" width="39" height="36">
        <a href="/">Home</a>
        <a href="/">History</a>
    </div>
    
    <div class="userInfo">
        <p>{{'Gonzalo Errandonea'}}</p>
        <div class="coinDisplay">
            <p>{{300}}</p>
            <div class="AddMoneyButton">
                <img src="assets/icons/coin.svg" alt="Add money" width="42px" height="42px">
                <p>+</p>
            </div>
        </div>
    </div>
</div>
