div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    font-weight: lighter;
}

.nav
{
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    height: 40px;
    padding: 20px;
}

.linkBar
{
    gap: 10px;
}

a
{
    color: rgb(176, 176, 176);
    text-decoration: none;
    margin: 0px;
}

.userInfo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: lighter;
    color: black;
}

.coinDisplay{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    background-color: rgb(237, 237, 237);

    padding: 0px 30px 0px 30px;

    border-radius: 20px;
    
    
    p {
        font-weight: lighter;
    }
}
.AddMoneyButton
{
    position: relative;
    cursor: pointer;
}

.AddMoneyButton p
{
    position: absolute;
    top: -15px;
    left: 0px;
    font-size: 25px;
    font-weight: 900;
    color: green;
}

.active-link
{
    color: #0AD4FA;
}