@let name = userService.user().data.name;
@let points = userService.user().data.points;

<div class="nav">
    <div class="linkBar">
        <img src="assets/aerolab-logo.svg" alt="" width="39" height="36">
        <a [routerLink]="['home']" routerLinkActive="active-link">Home</a>
        <a [routerLink]="['history']" routerLinkActive="active-link">History</a>
    </div>
    
    <div class="userInfo">
        <p>{{name}}</p>
        <div class="coinDisplay">
            <p>{{points}}</p>
            <div class="AddMoneyButton" (click)="addPoints()">
                <img src="assets/icons/coin.svg" alt="Add money" width="42px" height="42px">
                <p>+</p>
            </div>
        </div>
    </div>
</div>
